<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="/css/client.css">
</head>
<body>
    {{>adminHeader}}
    <br><br>
    <center>

        <h2><u>Transection List</u></h2>
        <table class="content-table">
            <thead>
              <tr>
                <th>ID</th>
                <th>Model Name</th>
                <th>Unit</th>
                <th>Unit Cost</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
    </center>






    <script src='/js/adminShowTransaction.js'></script>
</body>
</html>