<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-color: #E0E0E0;
        }

        .box {
            width: 25%;
            margin-top: 10px;
            border: solid 2px rgb(43, 13, 216)
        }

        .box:hover {
            opacity: .98;
            box-shadow: 3px 3px rgb(25, 24, 26);
        }

        .outerDiv {

            border-radius: 5px;

                {
                    {
                     !-- background-color: #66999B;
                    --
                }
            }

            height: 275px;
            width: 35%;
            margin: 0px auto;
            padding: 5px;

        }

        .leftDiv {
            color: rgb(18, 136, 145);
            width: 48%;
            margin-left: 10px;
            float: left;

        }

        .rightDiv {
            margin-left: 10px;
            color: rgb(12, 131, 95);
            width: 48%;
            float: right;
        }

        h2 {
            color: rgb(23, 23, 102);
        }

        center h4 {

            color: firebrick;
        }

        .accept {
            background-color: forestgreen;
        }

        .decline {
            background-color: crimson;
        }

        button {
            margin: 1rem;
            padding: .45rem;
            font-size: 15px;
            font-weight: 800;
            color: white;
        }
    </style>


</head>

<body>
    {{>adminHeader}};
    <br>
    <center>
        <h1><u>Requested Update List</u></h1>
    </center>
    <div class="container">
    </div>



    <script src='/js/requestedUpdate.js'></script>
</body>
</html>
