<DOCTYPE html>
  <html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width, initial-scale=1.0">
    <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
      integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">

    <style>
  .logo-container {
            height: 100%;
            display: table;
            float: left;
            margin-bottom: 10px;
        }

        .logo-container h1 {
            color: rgb(21, 58, 63);
            height: 100%;
            display: table-cell;
            vertical-align: middle;
            font-size: 32px;
            font-weight: 200;
            font-family: serif;
        }

        .logo-container h1 span {
            font-weight: 800;
        }
</style>

    <title>Sign Up</title>
  </head>

  <body>
    <div class="container">
      <div class="row mt-5">
        <div class="col-md-6 m-auto">
          <div class="card card-body">
            <div class="logo-container ">
                <h1 class="text-center">Tax<span>Code</span></h1>
            </div>
         
           <center>
            <img src="https://cdn.discordapp.com/attachments/829418444679807046/835309826287468615/logo.jpg" width="125px" height="125px" alt="logo" class="logo text-center">

          </center>
          
            <form id='myForm'>
              <div class="form-group">
                <label for="name">Name</label>
                <input type="name" id="name" name="name" class="form-control" placeholder="Enter Name" required >
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" class="form-control" placeholder="Enter Email" required >
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" class="form-control"
                  placeholder="Create Password" required >
              </div>
              <div class="form-group">
                <label for="manufacturingorigin">Manufacturing Origin</label>
                <input type="text" id="manufacturingorigin" name="manufacturingorigin" class="form-control"
                  placeholder="Enter Manufacturing Origin" required >
              </div>
              <div class="form-group">
                <label for="assemblingorigin">Assembling Origin</label>
                <input type="text" id="assemblingorigin" name="assemblingorigin" class="form-control"
                  placeholder="Enter Assembling Origin"  required>
              </div>
              <div class="form-group">
                <label for="revenue">Company Revenue</label>
                <input type="number" id="revenue" name="revenue" class="form-control"
                  placeholder="Enter Company's Revenue" required>
              </div>
              <div class="form-group">
                <label for="sharemarketvalue">Company Share Market Value</label>
                <input type="number" id="sharemarketvalue" name="sharemarketvalue" class="form-control"
                  placeholder="Enter Company's Share Market Value" required>
              </div>
              <button class="btn btn-primary btn-block">
                Register
              </button>
            </form>
            <p class="lead mt-4">Have An Account? <a href="/user/signin">Login</a></p>
          </div>
        </div>
      </div>
    </div>

    <script src="/js/signup.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
      crossorigin="anonymous"></script>

  </body>

  </html>